h1{
    font-family: sans-serif;
    color: crimson;
    text-align: center;
}

p{
    font-family: sans-serif;
    color: crimson;
    text-align: center;
}


body{
    background-color:rgb(70, 69, 71);
}